body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea{
    border: 1px solid #c4c4c4;
    outline: 5px solid #eff4f7;
    border-radius: 2px;
    margin-top: 10px;
    margin-left: 5px;
    box-sizing: border-box;
    font-size: 20px;
}
#head{
    padding: 0;
    margin: 0;
}
#header{
    float: left;
    text-align: center;
    color: white;
    padding: 14px 16px;
}
nav ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    top: 0px;
}


#new{
    float: left;
}
#logout{
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 13px;
}

nav li a:hover {
    background-color: #111;
}


.namefield{
    padding: 10px 0 5px 0;
    margin: 0;
}

.container{
    margin: 150px auto;
    width: 620px;
}

.login{
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    width: 510px;
    background-color: #ffffff;
    padding: 20px 20px 20px;
    border-radius: 4px;
    border: 1px solid #c4c4c4;
}

.login h2{
    font-size: 20px;
    margin: -20px -20px 1px;
    line-height: 40px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px whitesmoke;
}

input[type="text"]{
    margin: 5px;
    width: 498px;
    height: 34px;
    padding: 0 10px;
    border: 1px solid #c4c4c4;
    outline: 5px solid #eff4f7;
    border-radius: 2px;
    line-height: 34px;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="text"]:focus,textarea:focus{
    border: 2px solid #7dc9e2;
    outline-color: #dceefc; 
}

input[type=submit] {
  padding: 0 18px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  box-sizing: content-box;
}
